/* commons */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.head-container{
    margin: auto;
    padding: 20px;
    width: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

img{
    width: 100%;
}

h1{
    text-align: center;
    padding-top: 20px;
}


.list-container{
    margin: auto;
    
}

.add-todo{
    text-align: center;
    padding: 40px;
    
}

.add-todo input{
    padding: 6px;
    border-radius: 5px;
    border: 1px solid grey;
}

.add-todo button{
    padding: 5px;
    border-radius: 5px;
    background-color: hsl(215deg 100% 10%);
    color: white;
    cursor: pointer;
}

.todos{
    background-color: rgb(240, 240, 240);
    width: 70%;
    border-radius: 20px;
    padding: 20px;
    margin: auto;
}

.todos li{
    padding: 10px 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.todos li:not(:last-child){
    border-bottom: 1px solid rgb(175, 175, 175);
}

.todos .fa-times{
    color: grey;
}